@model IEnumerable<Event>
@using MovieMakers.Utility

<div class="container backgroundWhite">
    <div class="card">
        <div class="card-header bg-light text-light ml-0 row container">
            <div class="col-12 col-md-6">
                <h1 class="text-primary">@Model.First().Movie.Title</h1>
                <p class="text-warning">directed by @Model.First().Movie.Director</p>
            </div>
            <div class="col-12 col-md-6 text-lg-right pt-lg-4">
                <span class="badge badge-success pt-3 " style="height:50px; font-size: large">Age Rating @Model.First().Movie.AgeGroup.Name</span>
                <span class="badge badge-primary pt-3" style="height:50px;font-size: large">@Model.First().Movie.Genre.Name</span>
            </div>
        </div>
        <div class="card-body">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-8 col-lg-8">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            @foreach (var item in Model)
                            {
                                <a href="/Customer/SeatPicker/@item.Id">
                                    <label class="btn btn-primary" style="font-size: 16px; margin-right: 15px; padding-left: 2em; padding-right: 2em;">
                                        <b>@item.Hall.Name</b><br />
                                        @item.Date<br />
                                        <i class="fas fa-clock"></i> @item.StartTime
                                        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_FO_Employee))
                                        {
                                            var totalSeats = 120;
                                            var takenSeats = 37;
                                            var availableSeats = totalSeats - takenSeats;

                                            <br /><b>@availableSeats seats left</b>
                                        }
                                    </label>
                                </a>
                            }
                        </div>

                        <hr />

                        <div class="row pl-2">
                            <h5 class="text-muted pb-2"><i class="far fa-money-bill-alt"></i> Price: € @Model.First().Movie.ListPrice.ToString("0.00")</h5>
                        </div>
                        <div class="row pl-2">
                            <h5 class="text-muted pb-2">65+ and <i class="fas fa-child"></i> Kids: € @Model.First().Movie.Price.ToString("0.00")</h5>
                        </div>

                        <br />

                        <div class="row pl-2">
                            <h5 class="text-muted pb-2"> <i class="fas fa-clock"></i> Duration: @Model.First().Movie.Duration min</h5>
                        </div>

                        <div class="row pl-2">
                            <h5 class="text-muted">IMDB : @Model.First().Movie.IMDB</h5>
                        </div>

                        <div class="row pl-2">
                            <p class="text-secondary">@Html.Raw(Model.First().Movie.Description)</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 offset-lg-1 text-center">
                        <img src="@Model.First().Movie.ImageUrl" width="100%" class="rounded" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-6 pb-1">
                    <a asp-action="Index" class="btn btn-success form-control  btn-square btn-lg" style="height:50px;">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>